@media only screen and (max-width: 3000px) {
  .page-title__bg {
    display: none; } }

@media only screen and (max-width: 1920px) {
  .page-title__bg {
    display: flex; } }

@media only screen and (max-width: 1280px) {
  .main-slider:before {
    left: 261px; }
  .main-slider__item-inner {
    width: 680px;
    padding-left: 128px; }
  .contacts-wrapper {
    width: 261px; }
  .main-slider .arrow-left {
    left: 273px; }
  .main-slider .arrow-right {
    left: 915px; }
  .main-slider .slick-dots {
    left: 410px; }
  .main-slider__title {
    float: right;
    padding-right: 35px; }
    .main-slider__title:before {
      top: -11px; }
  .cat-item {
    width: 100%; }
  .cat-list {
    width: 100%; }
  .hits-slider .arrow-right {
    border-radius: 100%;
    right: -58px;
    width: 82px; }
    .hits-slider .arrow-right:after {
      right: 50px; }
  .hits-slider .arrow-left {
    border-radius: 100%;
    left: -14px;
    width: 82px; }
    .hits-slider .arrow-left:after {
      left: 50px; }
    .hits-slider .arrow-left:before {
      display: none; }
  .map-title {
    left: auto; }
  .map-mask {
    height: 740px;
    background-size: cover; }
    .map-mask.mask-contacts {
      background-size: cover; }
  .map {
    height: 740px; }
  .static-header {
    background-position: 59% top; }
  .static-middle-header__inner {
    justify-content: space-around; }
  .static-footer__title {
    padding-left: 100px; }
  .static-footer__partners-title {
    padding-left: 100px; }
  .not-found-footer__title {
    padding-left: 100px; }
  .not-found-footer__partners-title {
    padding-left: 100px; }
  .product-slider__wrapper {
    flex-direction: column;
    align-items: center; }
  .product-nav {
    width: 310px;
    height: 135px;
    margin-bottom: 0; }
    .product-nav .slick-list, .product-nav .slick-track {
      height: 100%; }
    .product-nav .slick-slide {
      height: 100%;
      width: 155px; }
    .product-nav .arrow-left {
      transform: rotate(-90deg);
      top: calc(50% - 15px);
      left: -18px; }
    .product-nav .arrow-right {
      transform: rotate(-90deg);
      top: calc(50% - 15px);
      right: -18px;
      left: auto; }
  .product-bookmark-wrapper {
    left: auto;
    right: 20px;
    top: 18px; }
  .product-info__specs-item {
    width: 33.333333%;
    padding-left: 18px; }
  .product-info__text.active {
    padding-bottom: 50px; }
  .product-socials-wrapper {
    left: auto;
    top: auto;
    bottom: 20px;
    right: 20px; }
    .product-socials-wrapper #share42 {
      width: 480px;
      justify-content: space-around;
      display: flex; }
  .products-tabs__item {
    width: 33.3333333%; }
  .products-tabs__content .col-sm-3 {
    width: 33.3333333%; }
    .products-tabs__content .col-sm-3:last-child {
      display: none; }
  .comment-form {
    width: 520px; }
    .comment-form.main-comment-form {
      width: 590px; }
  .section-reviews {
    padding-bottom: 80px; }
  .filter-sidebar__wrapper {
    width: 33.33333333%; }
  .category-wrapper {
    width: 66.66666667%;
    padding-bottom: 90px; }
    .category-wrapper .category-item {
      width: 50%; }
  .page-title__bg {
    width: 79%; }
  .list-item-info {
    max-width: 375px; }
  .list-item-specs__info {
    width: 50%; }
  .list-item-text {
    height: 106px; }
  .list-item-pic__wrapper {
    width: 220px;
    height: 240px; }
  .list-item-price-wrapper {
    position: absolute;
    left: 5px;
    width: 220px;
    bottom: 65px; }
  .list-item-buy-btn {
    position: absolute;
    left: 43px; }
  .list-item-buy-wrapper {
    justify-content: flex-end; }
  .list-item-title__wrapper {
    height: 46px; }
  .list-item-title span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; }
  .category-main__wrapper {
    margin: 0; }
  .inner-search-field {
    width: 330px; } }

@media only screen and (max-width: 992px) {
  .container-sm {
    width: 750px;
    padding: 0 15px; }
  .top-menu__tools {
    display: flex;
    float: none;
    justify-content: space-between; }
  .top-menu__list {
    display: none; }
  .burger-btn {
    display: block; }
  .contacts-wrapper {
    float: none;
    width: 550px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .currency-menu {
    right: auto; }
  .schedule {
    border: none; }
  .callback-btn {
    top: 145px;
    left: 320px; }
  .main-slider {
    width: 100%; }
  .main-slider {
    width: 992px;
    left: 50%;
    transform: translateX(-50%); }
    .main-slider:before {
      display: none; }
    .main-slider .arrow-left {
      left: 14%; }
    .main-slider .arrow-right {
      right: 14%;
      left: auto; }
    .main-slider .slick-dots {
      left: 25%; }
  .main-slider__item-inner {
    width: 750px;
    margin: 0 auto;
    padding: 94px 15px 0; }
  .main-slider__descr {
    right: 15px; }
  .middle-menu .container:before {
    display: none; }
  .middle-header {
    background: url(../img/header-bg.png) no-repeat center 63px; }
  .shop-menu {
    display: none; }
  .categories-dropdown {
    margin-left: 0; }
  .categories-list {
    display: flex;
    align-items: baseline; }
  .categories-dropdown__list {
    left: auto; }
  .cat-item__link {
    flex-direction: column;
    align-items: center; }
  .cat-name__wrapper {
    padding: 15px; }
  .cat-item:hover {
    box-shadow: none; }
  .cat-list {
    display: none !important; }
  .hits-slider .slick-slide {
    padding: 0 30px; }
  .hits-slider .arrow-left {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    width: 41px;
    left: calc(50% - 22px); }
    .hits-slider .arrow-left:before {
      display: block; }
    .hits-slider .arrow-left:after {
      left: 14px; }
  .hits-slider .arrow-right {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    width: 41px;
    right: calc(50% - 39px); }
    .hits-slider .arrow-right:after {
      right: 14px; }
  .map-mask {
    height: 570px; }
  .map {
    height: 570px; }
  .section-blog__title {
    font-size: 85px;
    line-height: 64px; }
  .blog-item__title-wrapper {
    max-width: 100%; }
  .blog-item__date {
    position: absolute;
    bottom: 0;
    right: 0; }
  .blog-item__txt-preview {
    height: 100px;
    overflow: hidden; }
  .widgets-wrapper {
    flex-direction: column;
    align-items: center; }
  .fb-widget {
    margin-bottom: 145px; }
  .subscribe-fb {
    position: absolute;
    top: 540px; }
  .subscribe-insta {
    position: absolute;
    bottom: 60px; }
  .subscribe-text {
    display: none; }
  .main-footer .container-sm {
    width: 768px;
    padding: 0; }
  .main-footer__partners-title {
    right: 15px; }
  .main-footer__partners-wrapper {
    right: 30px; }
  .footer-action-pic__wrapper {
    left: 325px; }
  .static-schedule {
    display: block; }
  .static-menu-categories {
    display: block; }
  .static-middle-header__inner {
    display: block;
    position: relative;
    height: 222px; }
    .static-middle-header__inner .main-logo-wrapper {
      float: left;
      padding-left: 90px;
      padding-top: 35px;
      padding-bottom: 85px; }
    .static-middle-header__inner .phone-block__wrapper {
      position: absolute;
      bottom: 30px;
      left: 90px; }
    .static-middle-header__inner .static-schedule {
      float: left;
      padding-left: 70px;
      padding-top: 55px;
      padding-bottom: 85px; }
    .static-middle-header__inner .static-callback-btn {
      position: absolute;
      bottom: 30px;
      left: 390px; }
  .static-middle-menu {
    clear: both; }
  .static-header {
    background-position: 59% 110px; }
  .text-content {
    padding: 35px 0 65px; }
  .static-footer__title {
    padding-left: 10px; }
  .static-footer__partners-title {
    padding-left: 10px; }
  .not-found-footer__title {
    padding-left: 10px; }
  .not-found-footer__partners-title {
    padding-left: 10px; }
  .section-blog-page {
    padding-bottom: 40px; }
    .section-blog-page .show-more-news__btn {
      display: none; }
  .pagination.blog-pagination {
    display: block; }
  .blog-unit__footer {
    flex-direction: column;
    justify-content: center; }
  .blog-unit__navigation {
    margin-bottom: 30px; }
  .blog-unit__prev {
    margin-right: 50px; }
  .section-blog-unit {
    padding-bottom: 50px; }
  .product-wrapper {
    flex-direction: column;
    width: 635px;
    margin: 35px auto 45px;
    padding: 25px 0 80px 0; }
  .product-slider__wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end; }
  .product-nav {
    width: 120px;
    height: 300px;
    margin-bottom: 30px; }
    .product-nav .slick-list, .product-nav .slick-track {
      height: auto;
      width: 100%; }
    .product-nav .slick-slide {
      width: 100%;
      height: 150px; }
    .product-nav .arrow-left {
      transform: rotate(0deg);
      top: -15px;
      left: calc(50% - 18px); }
    .product-nav .arrow-right {
      transform: rotate(0deg);
      top: auto;
      bottom: -15px;
      right: auto;
      left: calc(50% - 18px); }
  .product-info__wrapper {
    width: 100%;
    padding: 0; }
  .product-info__title {
    padding-left: 25px; }
  .product-info__specs {
    border-radius: 0px; }
  .product-info__specs-item {
    width: 25%; }
  .product-info__buy {
    border-radius: 0px; }
  .product-info__text {
    padding-left: 25px; }
  .product-socials-wrapper {
    left: 50%;
    right: auto;
    transform: translateX(-50%); }
    .product-socials-wrapper #share42 {
      width: auto; }
      .product-socials-wrapper #share42 .share42-item {
        display: flex !important; }
  .products-tabs {
    width: 635px;
    margin: 0 auto 50px; }
  .products-tabs__content .col-sm-3 {
    width: 50%; }
    .products-tabs__content .col-sm-3:nth-last-child(2) {
      display: none; }
  .products-comments__wrapper {
    width: 635px;
    margin: 0 auto; }
  .comments-block .product-info__title {
    padding: 0; }
  .comment-form__wrapper {
    flex-direction: column; }
  .comment-form {
    margin: 35px 0 0;
    width: 100%; }
  .section-reviews .comment-form__wrapper {
    align-items: center; }
  .section-reviews .product-info__title {
    padding-left: 0;
    align-self: flex-start; }
  .section-reviews .comment-form.main-comment-form {
    width: 590px; }
  .category-middle-menu .container:before {
    display: none; }
  .page-title__bg {
    width: 74%;
    font-size: calc( 45px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400) )); }
  .container-sm .page-title__bg {
    font-size: calc( 41px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400) )); }
  .filter-sidebar__wrapper {
    width: 100%; }
  .filter-sidebar__wrapper {
    width: 320px;
    position: absolute;
    left: -500px;
    top: 25px;
    opacity: 0;
    transition: .3s linear; }
    .filter-sidebar__wrapper.active {
      left: 35px;
      opacity: 1; }
  .filter-sidebar__title {
    display: none; }
    .filter-sidebar__title.sticky {
      display: block; }
  .category-wrapper {
    width: 100%; }
    .category-wrapper .category-item {
      padding: 0 35px; }
  .top-filter__wrapper {
    margin-right: 30px; }
  .main-slider__title.absolute {
    left: 30px; }
  .catalog-list-item {
    padding: 0 35px; }
  .list-item-info {
    max-width: 425px; }
  .breadcrumbs:after {
    z-index: 0; }
  .breadcrumbs-item.home:before {
    z-index: 1; }
  .breadcrumbs-item span {
    z-index: 1; }
  .breadcrumbs-item a {
    z-index: 1; }
  .text-decription.bottom {
    padding: 15px 35px 30px; }
  .inner-search-wrapper {
    flex-wrap: nowrap;
    padding: 0 35px 50px; }
  .inner-search {
    display: flex;
    width: 100%; }
  .inner-search-field {
    width: inherit; }
  .search-options {
    position: absolute;
    flex-direction: row;
    top: 50px;
    right: 45px; }
  .search-option {
    margin-left: 25px; }
  .filter-view {
    padding-right: 10px; }
  .search-dropdown__wrapper {
    margin-left: 0; }
  .not-found-categories {
    display: none; }
  .not-found-wrapper {
    padding-bottom: 100px; }
  .checkout-reg {
    display: flex;
    justify-content: space-around; }
  .checkout-auth-item {
    top: 4px; }
  .checkout-auth {
    margin: 0 auto; }
  .checkout-list__wrapper {
    width: 555px;
    margin: 0 auto; }
  .checkout-comment {
    width: 555px;
    display: block;
    margin: 45px auto 0; }
  .checkout-success__feedback a {
    display: block; } }

@media only screen and (max-width: 767px) {
  .middle-header {
    background: none; }
  .main-slider {
    display: none; }
  .contacts-wrapper {
    width: 100%;
    justify-content: center; }
  .schedule-time br {
    display: block; }
  .schedule-time span {
    display: none; }
  .callback-btn {
    left: auto;
    right: calc(50% - 216px); }
  .phone-block {
    width: 214px;
    font-size: 14px;
    padding: 0 10px; }
  .viber-icon {
    margin-right: 12px; }
  .middle-header {
    overflow: visible; }
  .phone-menu {
    width: 214px;
    z-index: 8; }
  .menu-categories {
    padding-bottom: 50px;
    margin-bottom: -40px; }
  .menu-categories__content {
    top: auto;
    bottom: 0; }
  .cat-item__wrapper {
    width: 25%; }
  .hits-slider .arrow-right {
    border-radius: 100%;
    right: 0;
    width: 82px; }
    .hits-slider .arrow-right:after {
      right: 50px; }
  .hits-slider .arrow-left {
    border-radius: 100%;
    left: 42px;
    width: 82px; }
    .hits-slider .arrow-left:after {
      left: 50px; }
    .hits-slider .arrow-left:before {
      display: none; }
  .container-sm {
    width: auto; }
  .main-footer {
    overflow: hidden; }
    .main-footer .container-sm {
      width: auto;
      position: relative;
      padding-top: 150px; }
  .section-blog__title {
    display: none; }
  .section-blog__title-mobile {
    display: flex; }
  .section-map .container {
    padding: 0; }
  .map {
    height: 415px; }
  .map-mask {
    display: none; }
  .map-title {
    top: 30px;
    left: 15px; }
  .gm-style .gm-style-iw {
    top: 70px !important; }
  .blog-item {
    flex-direction: column;
    align-items: center; }
  .blog-item__pic-wrapper {
    left: auto; }
  .blog-item__txt-wrapper {
    margin-left: 0;
    margin-top: 20px; }
  .blog-item__btn {
    line-height: 30px;
    margin-top: 20px; }
  .main-footer__wrapper {
    z-index: 2;
    background: url(../img/footer-bg-md.png) no-repeat left bottom; }
  .footer-action-pic__wrapper {
    left: 105px;
    height: 190px; }
  .footer-action {
    position: absolute;
    padding-top: 0;
    bottom: 10px;
    padding-left: 294px;
    width: auto;
    font-size: 13px; }
    .footer-action strong {
      font-size: 26px; }
    .footer-action a {
      margin-left: 0; }
      .footer-action a:after {
        right: auto;
        transform: scale(-1, 1);
        left: -40px; }
  .partners-bg {
    display: block;
    width: 387px;
    height: 387px;
    position: absolute;
    top: 0;
    left: calc(50% - 193px); }
  .main-footer__partners-title {
    display: none; }
  .main-footer__partners-wrapper {
    display: none; }
  .main-footer__partners-title__mob {
    display: block; }
  .main-footer__partners-wrapper__mob {
    display: flex; }
  .cat-item__wrapper.active .cat-name__wrapper:before {
    bottom: 0; }
  .cat-item__wrapper.active .cat-name__wrapper:after {
    bottom: 0; }
  .section-about__wrapper {
    padding-top: 30px; }
  .blog-item {
    padding-top: 50px; }
  .blog-item__txt-preview {
    margin-top: 10px; }
  .callback-popup {
    width: 450px; }
    .callback-popup .mfp-close.callback-popup__footer-close {
      font-size: 22px;
      margin-top: 15px; }
    .callback-popup .mfp-close.callback-popup__main-close {
      right: -20px; }
  .callback-popup__header {
    left: auto;
    right: 25px;
    background-position: right top; }
    .callback-popup__header .callback-popup__title {
      display: none; }
    .callback-popup__header .callback-popup__subtitle {
      display: none; }
  .callback-popup__body {
    height: 230px; }
  .callback-popup__title {
    padding-left: 15px; }
  .callback-popup__subtitle {
    line-height: 24px;
    padding-left: 15px;
    margin-top: 5px; }
    .callback-popup__subtitle:before {
      display: none; }
    .callback-popup__subtitle strong {
      display: block; }
  .callback-popup__form {
    padding: 100px 0 0; }
  .callback-popup__input-wrapper {
    margin: 0 15px 20px; }
  .callback-popup__input {
    height: 34px;
    line-height: 34px;
    font-size: 14px; }
    .callback-popup__input::placeholder {
      font-size: 14px; }
  .callback-popup__form-footer {
    margin-top: 70px;
    flex-direction: column-reverse; }
  .callback-popup__btn {
    width: 100%; }
  .hidden-popup__title {
    display: block;
    position: absolute;
    left: 0;
    top: -40px; }
  .static-menu-categories {
    margin-bottom: -50px; }
  .main-content {
    background-color: #f8f8f8;
    min-height: calc(100vh - 635px); }
    .main-content.not-found-content {
      background-color: #2fa334; }
  .static-middle-header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;
    position: relative;
    height: auto; }
    .static-middle-header__inner .main-logo-wrapper {
      order: 1;
      display: flex;
      float: none;
      padding-left: 0px;
      padding-top: 35px;
      padding-bottom: 0px;
      width: 50%;
      justify-content: flex-end; }
      .static-middle-header__inner .main-logo-wrapper .main-logo {
        width: 220px; }
    .static-middle-header__inner .phone-block__wrapper {
      display: flex;
      position: relative;
      bottom: auto;
      left: auto;
      order: 3;
      align-self: flex-end;
      width: 50%;
      justify-content: flex-end;
      padding-right: 15px;
      margin-top: 25px; }
      .static-middle-header__inner .phone-block__wrapper .phone-block {
        margin-top: 0; }
    .static-middle-header__inner .static-schedule {
      float: none;
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      order: 2;
      width: 50%;
      justify-content: flex-start;
      padding-left: 35px; }
    .static-middle-header__inner .static-callback-btn {
      display: flex;
      position: relative;
      bottom: auto;
      left: auto;
      order: 4;
      align-self: flex-end;
      width: 50%;
      justify-content: flex-start;
      margin-top: 25px; }
      .static-middle-header__inner .static-callback-btn:before {
        right: auto;
        left: 187px; }
  .static-header {
    background-position: 55% 110px; }
  .contacts-block-wrapper {
    margin-top: 35px;
    padding: 0; }
  .contacts-block {
    position: relative;
    padding-bottom: 35px; }
  .contacts-inner {
    flex-wrap: wrap;
    width: 450px;
    margin: 0 auto; }
  .contacts-form__wrapper {
    width: 100%; }
  .contacts-form {
    width: 100%; }
  .section-map-contacts {
    padding-bottom: 50px; }
    .section-map-contacts .container {
      padding: 0; }
  .products-tabs__content .col-sm-3 {
    width: 100%;
    margin-bottom: 20px; }
  .breadcrumbs {
    display: flex;
    padding: 0; }
  .breadcrumbs-item {
    margin-right: 10px;
    width: max-content; }
    .breadcrumbs-item:last-child {
      min-width: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: fit-content; }
  .section-reviews {
    padding-bottom: 55px; }
  .category-wrapper .category-item {
    width: 100%; }
  .list-item-info {
    max-width: 440px; }
  .cart-popup__header {
    left: auto;
    right: 25px;
    background-position: right top; }
    .cart-popup__header .cart-popup__title {
      display: none; }
    .cart-popup__header .cart-popup__subtitle {
      display: none; }
  .cart-popup__title {
    padding-left: 25px; }
  .cart-popup__subtitle {
    padding-left: 25px;
    padding-right: 100px; }
    .cart-popup__subtitle:before {
      display: none; }
  .success-popup {
    width: 95%; }
  .success-popup__feedback {
    font-size: 24px; } }

@media only screen and (max-width: 700px) {
  .categories-list {
    justify-content: stretch;
    overflow-x: scroll;
    overflow-y: hidden; }
  .cat-item__wrapper {
    width: auto; }
  .page-title__bg {
    display: none; }
  .static-footer {
    display: none; }
  .mobile-footer {
    display: block; }
  .not-found-footer {
    display: none; }
  .not-found-footer__mobile {
    display: block; }
  .section-map-contacts {
    padding-bottom: 0px; }
  .pagination-item {
    padding: 0 10px;
    width: auto; }
  .blog-unit__pic-wrapper {
    margin: 0 auto;
    float: none;
    padding-bottom: 30px;
    height: 380px; }
  .product-wrapper {
    width: 100%; }
  .product-slider__wrapper {
    flex-direction: column; }
  .product-slider {
    margin: 30px auto 15px; }
  .product-nav {
    width: 310px;
    height: 135px;
    margin: 0 auto 30px; }
    .product-nav .slick-list, .product-nav .slick-track {
      height: 100%; }
    .product-nav .slick-slide {
      height: 100%;
      width: 155px; }
    .product-nav .arrow-left {
      transform: rotate(-90deg);
      top: calc(50% - 15px);
      left: -18px; }
    .product-nav .arrow-right {
      transform: rotate(-90deg);
      top: calc(50% - 15px);
      right: -18px;
      left: auto; }
  .product-info__specs-item.col-sm-3 {
    width: 50%; }
  .products-tabs {
    width: 100%; }
  .products-tabs__item {
    width: 50%;
    padding-left: 0;
    text-align: center; }
  .products-comments__wrapper {
    width: 100%;
    padding: 0 0 60px; }
  .comment-form__input {
    width: 225px; }
  .section-reviews .comment-form__wrapper {
    width: 100%; }
  .section-reviews .product-info__title {
    align-self: center; }
  .section-reviews .comment-form.main-comment-form {
    width: 100%; }
  .filter-view {
    display: none; }
  .top-filter__wrapper {
    margin: 0 auto 35px;
    text-align: center;
    float: none; }
  div.fancy-select.filter-select {
    float: none; }
  .filter-sidebar__wrapper {
    top: 61px; }
  .category-list {
    display: none; }
    .category-list.active {
      display: none; }
  .category-grid {
    display: block; }
  .inner-search-wrapper {
    padding: 0 35px 75px; }
  .search-options {
    padding-left: 0;
    flex-direction: column;
    right: auto;
    left: 50%;
    transform: translateX(-50%); }
  .search-option {
    margin-left: 0; }
  .static-header {
    background: #fff; }
    .static-header.search-header .static-middle-menu {
      display: none; }
    .static-header.search-header .categories-list {
      padding-top: 0; }
  .inner-search-wrapper {
    background-color: #e6e6e6;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 45px;
    margin-left: -15px;
    margin-right: -15px; }
    .inner-search-wrapper .selectize-control.single .selectize-input {
      background-color: #e6e6e6;
      border-radius: 20px;
      color: #44404d; }
      .inner-search-wrapper .selectize-control.single .selectize-input:before {
        display: none; }
      .inner-search-wrapper .selectize-control.single .selectize-input:after {
        background: url(../img/dropdown-menu-mob.png) no-repeat; }
      .inner-search-wrapper .selectize-control.single .selectize-input input {
        color: #44404d; }
        .inner-search-wrapper .selectize-control.single .selectize-input input::placeholder {
          font-weight: 600;
          color: #44404d; }
      .inner-search-wrapper .selectize-control.single .selectize-input.dropdown-active {
        border-radius: 20px; }
      .inner-search-wrapper .selectize-control.single .selectize-input.input-active {
        background-color: #e6e6e6; }
    .inner-search-wrapper .selectize-control.single .item {
      background-color: #e6e6e6; }
    .inner-search-wrapper .selectize-dropdown {
      width: 100vw !important;
      left: calc(50% - 50vw) !important; }
  .inner-search-field {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px; }
  .inner-search-btn {
    width: 23px;
    height: 22px;
    font-size: 0;
    padding: 0;
    top: calc(50% - 11px);
    background: url(../img/search-icon-blue.png) no-repeat; }
  .search-options {
    position: relative;
    left: auto;
    transform: none;
    top: 0;
    margin-top: 20px; }
  .not-found-pic {
    width: 100%; }
  .not-found-title {
    font-size: 47px; }
  .not-found-footnote {
    font-size: 26px;
    margin-top: -50px; }
  .reg-confirmation__wrapper {
    width: 100%; }
  .user-room__list {
    flex-direction: column; }
  .user-room__list-item {
    margin: 6px 0; }
  .bookmarks-list {
    width: 100%; }
  .bookmark-item {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px; }
    .bookmark-item .item-title {
      margin-top: -15px; }
  .bookmark-item__pic-wrapper {
    order: 2; }
  .bookmark-item__info-wrapper {
    order: 1;
    width: 100%; }
    .bookmark-item__info-wrapper .item-price-wrapper {
      display: none; }
  .bookmark-item__buy-wrapper {
    order: 3;
    padding-bottom: 15px; }
    .bookmark-item__buy-wrapper .item-price-wrapper {
      display: flex;
      padding-bottom: 15px; }
  .bookmark-item-remove {
    bottom: -30px;
    left: 15px;
    position: absolute; }
  .orders-list {
    width: 100%; }
  .orders-item {
    flex-direction: column; }
  .orders-item__info-wrapper {
    width: 100%;
    order: 1; }
    .orders-item__info-wrapper .item-price-wrapper {
      display: none; }
  .orders-item__pic-wrapper {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center; }
    .orders-item__pic-wrapper .item-price-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0; }
  .orders-item__pic {
    width: 115px;
    padding-right: 8px; }
  .orders-item__status-wrapper {
    width: 100%;
    order: 3;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .orders-item__date {
    margin-top: 0;
    margin-left: 10px; }
  .cart-popup {
    width: 90%;
    margin: 100px auto 0; }
  .cart-popup__item {
    flex-direction: column;
    align-items: center; }
  .cart-item-remove {
    left: calc(50% - 40px); }
  .cart-popup__pic-wrapper {
    margin-bottom: 15px; }
  .cart-popup__item-info-wrapper {
    width: 100%; }
  .cart-popup__item-title-wrapper {
    padding: 0 20px; }
  .cart-popup__footer {
    padding: 0; }
  .cart-popup__footer-buttons {
    flex-direction: column-reverse; }
  .cart-popup__btn {
    margin-bottom: 15px; }
  .fast-order {
    margin-top: 15px; }
  .fast-order__form {
    width: 422px; }
  .fast-order__input {
    width: 100%; }
  .cart-popup__item-title-wrapper {
    height: auto; }
  .cart-popup .mfp-close.cart-popup__main-close.empty {
    right: auto;
    left: 50%;
    transform: translateX(100%); }
  .empty-cart-popup__title {
    text-align: center; }
  .checkout-list {
    display: block;
    margin: 0 auto;
    width: 194px; }
  .checkout-auth-item {
    margin-top: 40px; }
  .checkout-reg {
    flex-direction: column;
    align-items: center; }
  .checkout-list__wrapper {
    width: 90%; }
  .checkout-comment {
    width: 90%; }
  .checkout-item {
    flex-direction: column;
    align-items: center; }
  .checkout-item-remove {
    left: calc(50% - 40px); }
  .checkout-item__pic-wrapper {
    margin-bottom: 15px; }
  .checkout-item__info-wrapper {
    width: 100%; }
  .checkout-item__title-wrapper {
    padding: 0 20px; }
  .checkout-item__title-wrapper {
    height: auto; }
  .checkout-item__info {
    border-radius: 0px; } }

@media only screen and (max-width: 480px) {
  .login-btn {
    display: none; }
  .section-socials {
    display: none; }
  .main-footer__wrapper {
    background: url(../img/footer-bg-sm.png) no-repeat left bottom; }
  .footer-action-pic__wrapper {
    left: 10px;
    height: 226px; }
  .contacts-wrapper {
    width: 290px;
    flex-wrap: wrap; }
  .phone-block {
    width: 248px;
    font-size: 16px;
    padding: 0 20px;
    margin: 16px auto 0; }
  .viber-icon {
    margin-right: 18px; }
  .phone-menu {
    width: 248px;
    left: 50%;
    transform: translateX(-50%); }
  .schedule {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 22px;
    margin-top: 20px; }
  .schedule-title {
    font-size: 16px; }
  .schedule-time {
    font-size: 16px;
    display: flex; }
    .schedule-time span {
      display: block; }
    .schedule-time br {
      display: none; }
  .schedule-footnote {
    font-size: 16px; }
  .callback-btn {
    font-size: 15px;
    background-size: cover;
    width: 253px;
    height: 32px;
    left: auto;
    right: auto;
    top: 280px; }
  .contacts-wrapper {
    margin-bottom: 70px; }
  .middle-menu .container {
    padding-top: 10px;
    padding-bottom: 24px;
    background-color: #44404d; }
  .category-middle-menu .container {
    padding-top: 10px;
    padding-bottom: 24px;
    background-color: #44404d; }
  .categories-dropdown {
    float: none;
    margin: 0 auto 10px;
    width: 165px;
    padding-right: 10px; }
    .categories-dropdown.active:before {
      display: none; }
  .search {
    border-radius: 20px;
    padding: 0 35px 0 20px; }
  .categories-dropdown__list {
    width: 100%;
    left: 0;
    padding: 15px 0; }
  .categories-dropdown__item {
    position: relative;
    padding: 0 18px 10px;
    font-size: 15px;
    line-height: 18px; }
  .cat-item__wrapper {
    padding: 0; }
  .hits-slider .slick-slide {
    padding: 0 15px; }
  .hits-slider .arrow-right {
    right: -20px; }
  .hits-slider .arrow-left {
    left: 22px; }
  .map-dialog__inner {
    width: 270px;
    padding: 18px;
    line-height: 22px; }
  .map-dialog__address {
    width: 140px; }
  .section-blog__title-mobile {
    font-size: 63px;
    line-height: 49px; }
  .show-more-news__btn {
    width: 200px;
    padding-left: 45px; }
    .show-more-news__btn:before {
      left: -10px; }
  .main-footer {
    padding-top: 35px; }
  .footer-action {
    padding-left: 138px;
    padding-right: 10px; }
    .footer-action br {
      display: none; }
    .footer-action strong {
      display: none; }
    .footer-action a {
      margin: 20px 0 20px 30px;
      width: 110px; }
      .footer-action a:after {
        left: -27px;
        top: 10px; }
  .callback-popup {
    width: 95%; }
  .mobile-menu__item:nth-child(odd) {
    width: 140px;
    text-align: left;
    padding-left: 30px; }
    .mobile-menu__item:nth-child(odd) a {
      left: auto; }
  .mobile-menu__item:nth-child(even) {
    float: left;
    width: 149px;
    text-align: left;
    margin-left: 32px; }
    .mobile-menu__item:nth-child(even) a {
      left: auto; }
  .mobile-menu__item.mobile-menu__category-item {
    display: block; }
  .static-header {
    background: #fff; }
  .static-middle-menu .container {
    padding-top: 10px;
    padding-bottom: 24px;
    background-color: #44404d; }
  .static-middle-header__inner {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 26px; }
    .static-middle-header__inner .main-logo-wrapper {
      order: 1;
      width: auto; }
      .static-middle-header__inner .main-logo-wrapper .main-logo {
        width: auto; }
    .static-middle-header__inner .phone-block__wrapper {
      width: auto;
      order: 2;
      align-self: center;
      padding-right: 0; }
    .static-middle-header__inner .static-schedule {
      width: auto;
      order: 3;
      align-self: center;
      padding-left: 0;
      margin-top: 20px; }
    .static-middle-header__inner .static-callback-btn {
      width: 253px;
      height: 32px;
      padding-right: 0px;
      order: 4;
      align-self: center;
      background-size: cover;
      padding-left: 65px;
      margin-top: 20px; }
      .static-middle-header__inner .static-callback-btn:before {
        left: 225px; }
  .mobile-footer__inner {
    justify-content: space-between; }
  .page-title {
    padding-left: 0;
    font-size: 24px;
    line-height: 32px; }
    .page-title:before {
      left: -25px; }
  .text-content {
    padding: 20px 0 35px; }
  .mobile-menu__item:nth-child(odd) {
    border-radius: 45% 0 0 45% / 100% 0 0 100%; }
  .mobile-menu__item:nth-child(even) {
    border-radius: 0 45% 45% 0 / 0 100% 100% 0; }
  .contacts-inner {
    width: 100%;
    display: block; }
  .contacts-schedule {
    margin-bottom: 40px; }
  .contacts-main {
    margin-bottom: 35px; }
  .pagination-item {
    display: none; }
    .pagination-item.active, .pagination-item.prev, .pagination-item.next, .pagination-item.after-next {
      display: block; }
  .blog-unit__wrapper #share42 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .blog-unit__wrapper .share42-item {
    width: 33%;
    margin: 0 0 10px !important;
    display: flex !important;
    justify-content: center; }
  .blog-unit__pic-wrapper {
    margin: 0 auto;
    float: none;
    padding-bottom: 15px;
    height: 305px;
    width: 290px; }
  .blog-unit__text p {
    margin-bottom: 20px; }
  .blog-unit__date {
    right: -20px; }
  .blog-unit__prev {
    margin-right: 15px; }
  .blog-unit__next {
    font-size: 14px; }
  .product-wrapper {
    padding-bottom: 170px; }
  .product-slider {
    width: 100%;
    height: 350px; }
  .product-nav {
    height: 100px;
    width: 214px; }
    .product-nav .slick-slide {
      width: 107px; }
  .product-info__specs {
    justify-content: center; }
  .product-info__specs-item.col-sm-3 {
    width: 180px; }
  .product-info__title {
    text-align: center;
    padding: 0; }
  .product-info__buy {
    padding: 30px 5px 15px;
    flex-wrap: wrap; }
  .product-info__buy-wrapper {
    width: 100%;
    order: 1; }
  .product-info__count-list {
    order: 2; }
  .product-info__count-wrapper {
    order: 3; }
  .product-socials-wrapper {
    width: 100%; }
    .product-socials-wrapper #share42 {
      justify-content: center;
      flex-wrap: wrap; }
    .product-socials-wrapper .share42-item {
      width: 33%;
      margin: 0 0 10px !important;
      display: flex !important;
      justify-content: center; }
  .comment-date {
    width: 100px;
    overflow: hidden; }
  .comment-user__name {
    font-size: 14px; }
  .comment-form__input-wrapper {
    flex-direction: column;
    align-items: flex-start; }
  .comment-form__input {
    width: 100%; }
  .comment-form__login-wrapper {
    padding-left: 16px;
    padding-top: 15px; }
  .comment-form__btn {
    margin: 35px auto 0;
    display: block; }
  .category-wrapper .category-item {
    padding: 0; }
  .filter-sidebar__title.sticky {
    top: 280px; }
  .filter-sidebar__wrapper.active {
    left: 0; }
  .filter-sidebar__wrapper.active {
    width: 100%; }
  .filter-apply {
    width: 100%;
    position: relative;
    left: auto;
    right: auto; }
    .filter-apply:after {
      display: none; }
  .price-inputs__inner {
    width: max-content; }
  .price-inputs span {
    padding-left: 10px; }
  .category-wrapper {
    padding-bottom: 60px; }
  .text-decription {
    padding: 15px 0px 30px; }
  .more-items__btn {
    left: 105px;
    transform: translateX(-50%); }
  .filter-sidebar__hide {
    display: block; }
  .text-decription.bottom {
    padding: 15px 0 30px; }
  .text-decription h1 {
    font-size: 17px; }
  .static-middle-menu .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .static-middle-menu .container .selectize-control.single .selectize-input:before {
      display: none; }
    .static-middle-menu .container .selectize-dropdown {
      width: 100vw !important;
      left: calc(50% - 50vw) !important; }
  .middle-menu .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .middle-menu .container .selectize-control.single .selectize-input:before {
      display: none; }
    .middle-menu .container .selectize-dropdown {
      width: 100vw !important;
      left: calc(50% - 50vw) !important; }
  .search-wrapper {
    width: 100%;
    margin-top: 10px; }
  .compare-wrapper {
    padding: 10px 0px 60px; }
  .compare-params {
    left: 0;
    z-index: 2; }
    .compare-params li:last-child {
      display: none; }
  .not-found-wrapper {
    padding-bottom: 60px; }
  .not-found-title {
    font-size: 28px;
    line-height: 66px; }
    .not-found-title:after {
      font-size: 91px;
      line-height: 66px; }
  .not-found-footnote {
    font-size: 17px; }
  .log-reg__list {
    flex-wrap: wrap;
    justify-content: center; }
  .log-reg__list-item {
    margin: 6px 0; }
  .reg-confirmation__text a {
    display: block; }
  .bookmark-item .item-label.sale {
    top: -40px;
    left: -10px; }
  .bookmark-item__buy-wrapper .item-price-wrapper {
    flex-wrap: wrap; }
  .bookmark-item__pic-wrapper {
    padding-right: 8px; }
  .user-room-edit {
    left: 200px;
    top: 25px; }
    .user-room-edit i {
      position: absolute;
      top: -25px;
      left: 30px; }
  .user-room-edit__address {
    left: 107px;
    top: 25px; }
    .user-room-edit__address i {
      position: absolute;
      top: -25px;
      left: 30px; }
  .cart-counter__wrapper {
    width: 190px;
    margin-top: 10px; }
  .cart-popup__item-info {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center; }
  .cart-price__wrapper {
    width: 100%; }
  .cart-popup__title {
    padding-left: 0; }
  .cart-popup__subtitle {
    padding-left: 0;
    padding-right: 30px; }
  .fast-order__txt-wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .cart-popup__btn {
    width: 100%; }
  .fast-order__form {
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
    padding: 12px; }
  .fast-order__input {
    height: 34px;
    line-height: 34px; }
    .fast-order__input::placeholder {
      font-size: 14px; }
  .success-popup {
    width: 100%; }
  .success-popup__feedback {
    font-size: 24px; }
    .success-popup__feedback a {
      display: block; }
  .success-popup__title {
    display: block;
    text-align: left;
    padding-left: 15px; }
  .empty-cart-popup__title {
    font-size: 35px; }
  .checkout-item__counter-wrapper {
    width: 190px;
    margin-top: 10px; }
  .checkout-item__info {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center; }
  .checkout-item__price-wrapper {
    width: 100%; }
  .checkout-list__wrapper {
    width: 100%; }
  .checkout-comment {
    width: 100%; }
  .checkout-submit {
    width: 100%; }
  .checkout-promo__wrapper {
    display: block;
    width: 280px;
    margin: 0 auto;
    position: relative; }
  .checkout-promo__input {
    display: block; }
  .checkout-promo__submit {
    display: block;
    position: absolute;
    left: auto;
    top: 2px;
    right: 4px; } }

/*# sourceMappingURL=maps/media.css.map */
